[user]
        name = Anders Johannessen
        email = slatleim1991@gmail.com
[url "git@ssh.git.353.no:mikosaurus"]
        insteadOf = https://github.com/mikosaurus
[push]
        autoSetupRemote = true
        default = current
[init]
        defaultBranch = main

